*{
    font-family: 'Poppins', sans-serif;
}


.wrapper{
    width: 90%;
    margin: 0 auto;
    position: sticky;
    
}

.poppins-head{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #1d1d1d;
    text-align:center;
}

.poppins-lead {
    font-family: 'Poppins', sans-serif;
    color: #1d1d1d;
}

